* {
  margin: 0;
  padding: 0;
  font-family: "Kanit";
}

/* footer */
.text-center {
  color: #ffb943;
}

h2 {
  text-align: center;
  font-weight: bold;
}

.container {
  align-items: center;
}

nav div a img {
  object-fit: cover;
  width: 100px;
  height: 50px;
  transition: 0.3s;
}
nav div a img:hover {
  transform: scale(1.08, 1.08);
}

.offcanvas {
  --bs-offcanvas-width: 250px;
}

nav div h5,
nav div h1 {
  color: #ffb943;
  font-size: 1.5rem;
}

.bg-custom {
  background-color: #333333;
}

.nav-link {
  color: #ffb943;
}
.nav-link:hover {
  color: #d68f13;
}

input {
  background-color: white;
  width: 408px;
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #ffb943;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  width: 90%;
}

textarea {
  background-color: white;
  width: 405px;
  height: 150px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #ffb943;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  padding-top: 15px;
}

label {
  width: 90%;
  display: block;
  float: center;
}

form div button {
  width: 90%;
  height: 45px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
  text-transform: uppercase;
  background-color: white;
  border-color: #ffb943;
  border-style: solid;
  border-radius: 10px;
  cursor: pointer;
}

button p {
  color: white;
}

.formulario input:focus {
  outline: 0;
  border: 3px solid #ffb943;
}
.formulario textarea:focus {
  outline: 0;
  border: 3px solid #ffb943;
}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.container {
  align-items: center;
}

.form {
  width: 90%;
  margin: 15px;
}

main {
  margin-top: 100px;
  gap: 50px;
}
main div {
  align-items: center;
}
main h1 {
  font-weight: bold;
  text-align: center;
}

.fw-bold {
  color: black;
}

.hero__img {
  height: 100%;
  width: 100%;
}

.hero div {
  padding: 5px;
  text-align: center;
}
.hero div img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.text-contenedor {
  max-height: 500px;
  overflow-y: auto;
}

.hero-text {
  text-align: start;
  color: black;
  font-weight: bold;
}

.container {
  align-items: center;
}

.btn {
  transition: 0.3s;
  background-color: #ffb943;
  border-color: #222222;
}
.btn:hover {
  transform: scale(1.03, 1.03);
  background-color: #ffb943;
  color: #222222;
  border-color: #222222;
}

.separador {
  height: 3rem;
  width: 100%;
  background-color: #6c757d;
  border: solid #6c757d;
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.cards-container {
  padding: 80px;
  text-align: left;
}

.card-text {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 10px;
  height: 95%;
  width: 95%;
}

.card {
  max-height: 90%;
  border: 0;
  align-items: center;
  transition: 0.5s;
  border: solid #333333;
}
.card:hover {
  transform: scale(1.1, 1.1);
  z-index: 1;
}

.card-body {
  padding-left: 0;
}

.card-img-top {
  max-width: 100%;
  max-height: 90%;
  object-fit: cover;
}

.card_img {
  object-fit: cover;
  height: 500px;
  width: 90%;
  padding: 4px;
  background-color: #ffb943;
}

.img-cover {
  object-fit: cover;
}

.centrar, .form {
  text-align: center;
}

.card_img {
  transition: 0.3s;
}
.card_img:hover {
  transform: scale(1.2, 1.2);
  z-index: 2;
}

.carousel {
  width: 100%;
  padding: 10px;
  object-fit: cover;
}

.carousel-item {
  object-fit: cover;
}
.carousel-item img {
  object-fit: cover;
  height: 400px;
  width: 100%;
}

.centrar p, .form p {
  padding: 25px;
  text-align: center;
  font-weight: bold;
}

.icon-container {
  width: 100%;
  text-align: center;
}
.icon-container img {
  margin-top: 10px;
  object-fit: cover;
  height: 150px;
  width: 80%;
}
.icon-container svg {
  transition: 0.5s;
  width: 100%;
  margin: 18px;
  padding: 18px;
  height: 150px;
  color: #ffb943;
}
.icon-container svg:hover {
  color: #d68f13;
  transform: scale(1.1, 1.1);
}

.section__mapa {
  display: block;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 50px;
}

.mapa {
  text-align: center;
}

iframe {
  min-height: 500px;
  min-width: 90%;
}

.separador {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

main {
  overflow: hidden;
}
main h1 {
  text-align: center;
}

.tienda {
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 50px;
}
.tienda img {
  object-fit: cover;
  height: 400px;
  width: 90%;
}
.tienda p {
  font-weight: bold;
}
.tienda article {
  transition: 0.3s;
}
.tienda article:hover {
  transform: scale(1.2, 1.2);
  z-index: 1;
}
.tienda h2, .tienda h3, .tienda h4, .tienda h5, .tienda h6 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.separador {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1019607843);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.container {
  align-items: center;
}

@media only screen and (max-width: 500px) {
  .boton-hidden button {
    display: none !important;
  }
}

/*# sourceMappingURL=style.css.map */
