.centrar {
    text-align: center;
}

.card_img {
    transition: .3s;

    &:hover {
        transform: scale(1.2, 1.2);
        z-index: 2;
    }
}

.carousel {
    width: 100%;
    padding: 10px;
    object-fit: cover;
}

.carousel-item {
    object-fit: cover;

    img {
        object-fit: cover;
        @include tamaño(400px, 100%);


    }

}

.centrar {
    p {
        padding: 25px;
        text-align: center;
        font-weight: bold;
    }
}

.icon-container {
    width: 100%;
    text-align: center;

    img {
        margin-top: 10px;
        object-fit: cover;
        height: 150px;
        width: 80%;
    }

    svg {
        transition: .5s;
        width: 100%;
        margin: 18px;
        padding: 18px;
        height: 150px;
        color: $light-color;

        &:hover {
            color: $hover-color;
            transform: scale(1.1 , 1.1);
        }
    }
}